<div class="row">
    <%- include('../errors/messages.ejs') %>
    <div class="col-md-12 justify-content-center bg-dark py-4 rounded">
        <div class="col-md-12 justify-content-center text-uppercase mx-auto text-center bg-primary text-light rounded-lg py-4 mb-4">
            Lista de produtos magalu
        </div>
        <div class="row justify-content-center mx-auto ">
            <table class="table table-striped text-center table-hover">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Privilégio</th>
                        <th>Tempo</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; data.rows.length > i; i++) { %>
                        <tr>
                            <td><%= data.rows[i].username %></td>
                            <td><%= data.rows[i].access >= 1 && data.rows[i].access <= 3 ? data.rows[i].access === 3 ? 'Administrador' : data.rows[i].access === 2 ? 'Vendedor' : 'Usuário' : 'Inválido' %></td>
                            <td><%= data.rows[i].allow != 'Invalid Date' && data.rows[i].allow !== null ? data.rows[i].allow : data.rows[i].access >= 2 ? '-' : 'Expirado' %></td>
                            <td>
                                <a class="btn btn-warning" href="/change-user/<%= data.rows[i].username %>">
                                    Alterar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/delete-user/<%= data.rows[i].username %>">
                                    Deletar
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <%- include('../partials/pagination.ejs') %>
        </div>
    </div>
</div>